@import '../../styleguide/colors';

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $light-gray;
  transition: all 300ms ease-in-out;

  .loader-spinner {
    border: 16px solid $gray;
    border-top: 16px solid $blue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 500ms linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .loader-text {
    color: $blue;
  }
}
