@import '../../styleguide/spacing';
@import '../../styleguide/breakpoints';

.home-container {
  margin: $spacing-xxl auto 0 auto;
  text-align: center;

  img {
    width: 100vw;
    height: auto;
  }

  @media screen and (min-width: $screen-sm) {
    img {
      width: 70vw;
    }
  }

  @media screen and (min-width: $screen-md) {
    img {
      width: 40vw;
    }
  }
}
