@import '../../styleguide/colors';
@import '../../styleguide/spacing';
@import '../../styleguide/breakpoints';

.nav-header {
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: $yellow;
  padding: $spacing-sm;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .company-logo-container {
    display: flex;
    justify-content: flex-end;
    grid-column: 2 span;

    .company-logo-img {
      width: 60px;
      height: 40px;
    }
  }

  .search-field-container {
    grid-column: 10 span;
  }

  @media screen and (min-width: $screen-md) {
    padding: $spacing-sm 0;
    grid-gap: $spacing-md;

    .search-field-container {
      grid-column: 9 span;
    }
  }
}
