@import '../../styleguide/colors';
@import '../../styleguide/spacing';
@import '../../styleguide/breakpoints';

.nav-header {
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: $yellow;
  padding: $spacing-sm;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $spacing-xs;

  @media screen and (min-width: $screen-md) {
    grid-gap: $spacing-md;
  }

  .company-logo-container {
    display: flex;
    justify-content: flex-end;

    grid-column: 2 span;

    .company-logo-img {
      @media screen and (min-width: $screen-md) {
        height: 100%;
        width: auto;
      }
    }
  }

  .search-field-container {
    grid-column: 10 span;

    @media screen and (min-width: $screen-md) {
      grid-column: 9 span;
    }
  }
}
