@import '../../styleguide/font';
@import '../../styleguide/colors';
@import '../../styleguide/spacing';
@import '../../styleguide/breakpoints';

.company-logo-container {
  display: flex;
  justify-content: flex-end;

  grid-column: 2 span;

  .company-logo-img {
    @media screen and (min-width: $screen-md) {
      height: 100%;
      width: auto;
    }
  }
}
