@import '../../styleguide/font';
@import '../../styleguide/colors';
@import '../../styleguide/spacing';
@import '../../styleguide/breakpoints';
@import '../../styleguide/border';

.search-field-container {
  background: white;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: $radius-sm;

  .search-field-input {
    width: 100%;
    padding-left: $spacing-sm;
    font-size: $font-size-md;
    border: none;
    outline: none;
  }

  .search-field-button {
    background: $light-gray;
    padding: $spacing-xs;
    height: 40px;
    width: 40px;
    border: none;
    border-top-right-radius: $radius-sm;
    border-bottom-right-radius: $radius-sm;
    cursor: pointer;
  }
}
